html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #111;
    color: #eee;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: rgba(20, 20, 20, 0.9);
    color: white;
    z-index: 10;
    display: flex;
    white-space: nowrap;
    gap: 1rem;
    border-bottom: 1px solid #555;
}

#timeline {
    display: flex;
    white-space: nowrap;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
}

.date-column {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.2rem 0.4rem;
    justify-items: center;
    align-items: start;
    align-content: start;
    justify-content: start;
}

.date-label {
    grid-column: 1 / -1;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.date-column button {
    max-height: 20px;
}

header button {
    background: #444;
    border: none;
    color: #eee;
    padding: 2px 6px;
    margin-right: 6px;
    border-radius: 6px;
    cursor: pointer;
}

header button:hover {
    background: #666;
}

header button.active {
    background: #0a84ff;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#export {
    background-color: rgb(207, 15, 15);
}

#export:hover {
    background-color: rgb(228, 38, 38);
}

#context-menu {
    position: absolute;
    display: none;
    background: #222;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#context-menu button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #eee;
    padding: 6px 12px;
    text-align: left;
    cursor: pointer;
}

#context-menu button:hover {
    background: #444;
}
